<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
<meta charset="UTF-8" />
<title th:text="${titulo}"></title>

<link rel="stylesheet"
	th:href="@{/css/bootstrap.min.css}" />
</head>
<body>

	<!-- menú -->
	<header th:fragment="header">
	<nav class="navbar navbar-expand-lg navbar-dark bg-success">
		<button class="navbar-toggler" type="button" data-toggle="collapse"
			data-target="#navbarNav" aria-controls="navbarNav"
			aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<!-- LOGOTIPO -->
		<a class="navbar-brand" th:href="@{/index}">Soluciones
			Informáticas</a>
		<div class="collapse navbar-collapse" id="navbarNav">
			<!-- menú del lado izquierdo -->
			<ul class="navbar-nav mr-auto">
				<li class="nav-item active"><a class="nav-link"
					th:href="@{/nosotros}">Nosotros</a></li>
				<li class="nav-item active"><a class="nav-link" href="#">Eventos</a>
				</li>
				<li class="nav-item active"><a class="nav-link"
					th:href="@{/horarios}">Horarios</a></li>
				<li class="nav-item active"><a class="nav-link"
					th:href="@{/index}">Alumnos</a></li>
			</ul>

			<!-- menú del lado derecho -->
			<ul class="navbar-nav ml-auto">
				<li class="nav-item active"><a class="nav-link" href="#">Login</a>
				</li>
			</ul>
		</div>
	</nav>
	</header>
	<!-- fin de menú -->

	<div class="container"></div>



	<!-- Footer -->
	<footer th:fragment="footer" class="page-footer font-small special-color-dark pt-4">
		<hr />
		<img th:src="@{/images/logoSI.png}"
			alt="Academia Soluciones Informáticas" />
		<p>
			Contáctanos: <a
				href="https://www.facebook.com/AcademiaSolucionesInformaticas/">
				Facebook</a>
		</p>
		<p></p>



		<!-- Footer Elements -->
		<div class="container">

			<!-- Social buttons -->
			<ul class="list-unstyled list-inline text-center">
				<li class="list-inline-item"><a
					class="btn-floating btn-fb mx-1"> <i class="fab fa-facebook-f">
					</i>
				</a></li>
				<li class="list-inline-item"><a 
					class="btn-floating btn-tw mx-1"> <i class="fab fa-twitter">
					</i>
				</a></li>
				<li class="list-inline-item"><a
					class="btn-floating btn-gplus mx-1"> <i
						class="fab fa-google-plus-g"> </i>
				</a></li>
				<li class="list-inline-item"><a
					class="btn-floating btn-li mx-1"> <i class="fab fa-linkedin-in">
					</i>
				</a></li>
				<li class="list-inline-item"><a
					class="btn-floating btn-dribbble mx-1"> <i
						class="fab fa-dribbble"> </i>
				</a></li>
			</ul>
			<!-- Social buttons -->

		</div>
		<!-- Footer Elements -->

		<!-- Copyright -->
		<div class="footer-copyright text-center py-3">
			© 2020 Copyright: <a href="https://mdbootstrap.com/">
				Soluciones Informáticas</a>
		</div>
		<!-- Copyright -->


		<script th:src="@{/js/jquery-3.4.1.min.js}"></script>
		<script th:src="@{/js/popper.min.js}"></script>
		<script	th:src="@{/js/bootstrap.min.js}"></script>

	</footer>
	<!-- Footer -->
</body>
</html>