<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>Eventos</title>

<style type="text/css">
html, body {
	margin: 0;
	padding: 0;
}

body {
	background= #F5EFEE;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-attachment: fixed;
}
</style>

<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">

<link rel="stylesheet" href="css/style.css" />
</head>

<body>

	<header th:replace="layout/layout :: header"></header>

	<div class="py-3">
	<hr />
		<h1 align="center">
			<span><font size="50">Eventos</font></span>
		</h1>
	<hr />

		</div>
	<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>