<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>Index</title>

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
</head>
<body>

 	<header th:replace="layout/layout :: header"></header>

<h1 align="center">¡Bienvenido!</h1>

<h1 align="center">Menú de Opciones</h1>


	<!--menu de opciones -->
	<div class="container">
		<br>
		<div class="btn-toolbar">
			<div class="btn-group btn-group-justified btn-group-lg">
				<a href="#" class="btn btn-warning btn-default"
					style="font-family: Helvetica;">ALUMNOS</a> <a href="#"
					class="btn btn-warning btn-default "
					style="font-family: Helvetica;">CURSOS</a> <a href="/horarios"
					class="btn btn-warning btn-default "
					style="font-family: Helvetica;">HORARIOS</a>
			</div>
		</div>
	<br>
		<div class="btn-toolbar">
			<div class="btn-group btn-group-justified btn-group-lg">
				<a href="#" class="btn btn-warning btn-default"
					style="font-family: Helvetica;">PAGOS</a> <a href="#"
					class="btn btn-warning btn-default "
					style="font-family: Helvetica;">ASIGNACIONES</a> <a href="/horarios"
					class="btn btn-warning btn-default "
					style="font-family: Helvetica;">OTRO</a>
			</div>
		</div>
	</div>



	<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>