<!DOCTYPE html>
<html lang="es">
<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>Acerca de Nosotros</title>
<!-- Bootstrap CSS -->
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
</head>
<body>

	<!-- menú -->
	<nav class="navbar navbar-expand-lg navbar-dark bg-success">
		<button class="navbar-toggler" type="button" data-toggle="collapse"
			data-target="#navbarNav" aria-controls="navbarNav"
			aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<!-- LOGOTIPO -->
		<a class="navbar-brand" th:href="@{/index}">Soluciones
			Informáticas</a>
		<div class="collapse navbar-collapse" id="navbarNav">
			<!-- menú del lado izquierdo -->
			<ul class="navbar-nav mr-auto">
				<li class="nav-item active"><a class="nav-link"
					th:href="@{/nosotros}">Nosotros</a></li>
				<li class="nav-item active"><a class="nav-link" href="#">Eventos</a>
				</li>
				<li class="nav-item active"><a class="nav-link"
					th:href="@{/horarios}">Horarios</a></li>
				<li class="nav-item active"><a class="nav-link"
					th:href="@{/index}">Alumnos</a></li>
			</ul>

			<!-- menú del lado derecho -->
			<ul class="navbar-nav ml-auto">
				<li class="nav-item active"><a class="nav-link" href="#">Login</a>
				</li>
			</ul>
		</div>
	</nav>
	<!-- fin de menú -->

	<section class="container my-5 py-5">
		<h1 class="text-uppercase text-center mb-4">Centro de Aprendizaje
			de Teconologias de la Informacion y la Comunicacion "Soluciones
			Informaticas"</h1>

		<div class="card-deck">
			<div class="card">
				<a href="#"><img class="card-img-top img-fluid"
					src="images/a1.jpg" alt="Card image cap"></a>
				<div class="card-block">
					<h4 class="card-title">Vision</h4>
					<p class="card-text">Ser un centro líder en cursos básico y
						libre de aprendizaje de tecnologías de la información y la
						comunicación, sin fines de lucro, proporcionando una sólida
						formación técnica, científica y humanística, base para la
						realización personal y el desempeño en el estudio y en el trabajo
						para el desarrollo de los pueblos.</p>
					<!-- Modal 1 -->
					<!-- Button trigger modal -->

					<!-- Modal -->
					<div class="modal fade" id="exampleModalLong" tabindex="-1"
						role="dialog" aria-labelledby="exampleModalLongTitle"
						aria-hidden="true">
						<div class="modal-dialog" role="document">
							<div class="modal-content">
								<div class="modal-header">
									<h5 class="modal-title" id="exampleModalLongTitle">Vision</h5>
									<button type="button" class="close" data-dismiss="modal"
										aria-label="Close">
										<span aria-hidden="true">&times;</span>
									</button>
								</div>
								<div class="modal-body"></div>
								<div class="modal-footer">
									<button type="button" class="btn btn-secondary"
										data-dismiss="modal">Cerrar</button>
								</div>
							</div>
						</div>
					</div>
					<!-- Fin Modal 1 -->
				</div>
			</div>




			<div class="card">
				<a href="#"><img class="card-img-top img-fluid"
					src="images/a2.jpg" alt="Card image cap"></a>
				<div class="card-block">
					<h4 class="card-title">Mision</h4>
					<p class="card-text">Somos un Centro de Aprendizaje de
						Tecnologías de la Información y la Comunicación, reconocidos por
						la formación de niños, jóvenes y adultos, competentes y
						habilidosos en la Computación, infundiendo el respeto y la
						práctica de los derechos humanos, la solidaridad, el uso
						responsable de la libertad y el cumplimiento de las obligaciones,
						superando los intereses individuales en la búsqueda del bien
						común.</p>
					<!-- Modal 1 -->
					<!-- Button trigger modal -->

					<!-- Modal -->
					<div class="modal fade" id="exampleModalLong" tabindex="-1"
						role="dialog" aria-labelledby="exampleModalLongTitle"
						aria-hidden="true">
						<div class="modal-dialog" role="document">
							<div class="modal-content">
								<div class="modal-header">
									<h5 class="modal-title" id="exampleModalLongTitle">Mision</h5>
									<button type="button" class="close" data-dismiss="modal"
										aria-label="Close">
										<span aria-hidden="true">&times;</span>
									</button>
								</div>
								<div class="modal-body"></div>
								<div class="modal-footer">
									<button type="button" class="btn btn-secondary"
										data-dismiss="modal">Cerrar</button>
								</div>
							</div>
						</div>
					</div>
					<!-- Fin Modal 1 -->
				</div>
			</div>




			<div class="card">
				<a href="#"><img class="card-img-top img-fluid"
					src="images/a3.jpg" alt="Card image cap"></a>
				<div class="card-block">
					<h4 class="card-title">Descripcion</h4>
					<p class="card-text">Según registros administrativos, fue
						aperturado el centro con una inscripción de 10 hombres y 12
						mujeres para un total de 22 inscritos cultivando en ellos los
						valores tales como: la participación ciudadana, bien común,
						respeto, honestidad y capacidad en el manejo de las herramientas
						de información y comunicación tecnológicas. El año 2014 entra en
						vigencia la resolución No. 1024-2013 que resuelve autorizar el
						cambio de nombre del Centro de Aprendizaje de Tecnologías de la
						Información y la Comunicación “Soluciones Informáticas”. Asimismo,
						legalizar el nombre del propietario a nombre de Heber Adony
						Martínez Alfaro.</p>
					<!-- Modal 1 -->
					<!-- Button trigger modal -->

					<!-- Modal -->
					<div class="modal fade" id="exampleModalLong" tabindex="-1"
						role="dialog" aria-labelledby="exampleModalLongTitle"
						aria-hidden="true">
						<div class="modal-dialog" role="document">
							<div class="modal-content">
								<div class="modal-header">
									<h5 class="modal-title" id="exampleModalLongTitle">Descrpcion</h5>
									<button type="button" class="close" data-dismiss="modal"
										aria-label="Close">
										<span aria-hidden="true">&times;</span>
									</button>
								</div>
								<div class="modal-body"></div>
								<div class="modal-footer">
									<button type="button" class="btn btn-secondary"
										data-dismiss="modal">Cerrar</button>
								</div>
							</div>
						</div>
					</div>
					<!-- Fin Modal 1 -->
				</div>
			</div>
		</div>

		<!-- Footer -->
		<footer class="container-fluid bg-inverse">
			<div class="row text-white py-4 text-white">
				<div class="col-md-3">
					<h4 class="lead">Soluciones Informaticas</h4>
					<footer class="blockquote-footer">
						<cite title="Source Title"></cite>
					</footer>
				</div>
				<div class="col-md-3">
					<h4 class="lead">Direccion</h4>
					<p>Cabecera Municipal, San Sebastian Huehuetenango</p>
				</div>
				<div class="col-md-3">
					<h4 class="lead">Correo Electronico</h4>
					<p>catsolucionesinformaticas@gmail.com</p>
				</div>
				<div class="col-md-3">
					<h4 class="lead">Telefono</h4>
					<p>+502 31657456</p>
				</div>
			</div>
		</footer>
		<!-- Fin Footer -->


		<!-- jQuery first, then Tether, then Bootstrap JS. -->
		<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
		<script
			src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
		<script
			src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</body>
</html>