<!DOCTYPE html>
<html lang="es">
<meta charset="utf-8">
<head>
<!-- PROPIEDADES CSS -->
<link rel="stylesheet" href="assets/css/main.css" />
	<noscript><link rel="stylesheet" href="assets/css/noscript.css" /></noscript>
<!-- Bootstrap CSS -->
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">

</style>
 
 <title>Acerca de Nosotros</title>
<!-- FONDO -->
<div id="wrapper">
			<div id="bg"></div>
			<div id="main">
			<header  id="header">
</head>
<body>

	<!-- menú -->
	<nav class="navbar navbar-expand-lg navbar-dark bg-success">
		<button class="navbar-toggler" type="button" data-toggle="collapse"
			data-target="#navbarNav" aria-controls="navbarNav"
			aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		
		

		<a class="navbar-brand" th:href="@{/index}">Soluciones Informáticas</a>
		<div class="collapse navbar-collapse" id="navbarNav">
			<!-- menú del lado izquierdo -->
			<ul class="navbar-nav mr-auto">
				<li class="nav-item active"><a class="nav-link"
					th:href="@{/nosotros}">Nosotros</a></li>
				<li class="nav-item active"><a class="nav-link" href="#">Eventos</a>
				</li>
			</ul>

			<!-- menú del lado derecho -->
			<ul class="navbar-nav ml-auto">
				<li class="nav-item active"><a class="nav-link" href="#">Login</a>
				</li>
			</ul>
		</div>
	</nav>
	<!-- fin de menú -->
	
	

	<h1 ><span class="badge badge-primary">Centro de Aprendizaje
			de Teconologias de la Informacion y la Comunicacion</span>
			
			 <span class="badge badge-secondary">"Soluciones
			Informaticas"</span></h1>
		
<!--  CUADROS -->			


<div class="card-group">
  <div class="card">
     <div class="card-body">
      <h5 class="card-title">VISIÓN</h5>
      <p class="card-text">Ser un centro líder en cursos básico y
						libre de aprendizaje de tecnologías de la información y la
						comunicación, sin fines de lucro, proporcionando una sólida
						formación técnica, científica y humanística, base para la
						realización personal y el desempeño en el estudio y en el trabajo
						para el desarrollo de los pueblos.</p>
     
    </div>
  </div>
  <div class="card">
       <div class="card-body">
      <h5 class="card-title">MISION</h5>
      <p class="card-text">Somos un Centro de Aprendizaje de
						Tecnologías de la Información y la Comunicación, reconocidos por
						la formación de niños, jóvenes y adultos, competentes y
						habilidosos en la Computación, infundiendo el respeto y la
						práctica de los derechos humanos, la solidaridad, el uso
						responsable de la libertad y el cumplimiento de las obligaciones,
						superando los intereses individuales en la búsqueda del bien
						común.</p>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">DESCRIPCIÓN</h5>
      <p class="card-text">Según registros administrativos, fue
						aperturado el centro con una inscripción de 10 hombres y 12
						mujeres para un total de 22 inscritos cultivando en ellos los
						valores tales como: la participación ciudadana, bien común,
						respeto, honestidad y capacidad en el manejo de las herramientas
						de información y comunicación tecnológicas. El año 2014 entra en
						vigencia la resolución No. 1024-2013 que resuelve autorizar el
						cambio de nombre del Centro de Aprendizaje de Tecnologías de la
						Información y la Comunicación “Soluciones Informáticas”. Asimismo,
						legalizar el nombre del propietario a nombre de Heber Adony
						Martínez Alfaro.</p>
         </div>
  </div>
</div>
					

		<!-- FIN CUADROS -->			


		<!-- Footer -->
		<footer class="container-fluid bg-inverse">
			<div class="row text-white py-4 text-white">
				<div class="col-md-3">
					<h4 class="lead">Soluciones Informaticas</h4>
					<nav>
		<ul>	<li><a href="https://www.facebook.com/SolucionesInformaticasSI/" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a></li>
								
		</ul>
				
		</nav>
					
					
		</div>
		
			
				
				
				<div class="col-md-3">
					<h4 class="lead">Direccion</h4>
					<p>Cabecera Municipal, San Sebastian Huehuetenango</p>
				</div>
				<div class="col-md-3">
					<h4 class="lead">Correo Electronico</h4>
					<p>catsolucionesinformaticas@gmail.com</p>
				</div>
				<div class="col-md-3">
					<h4 class="lead">Telefono</h4>
					<p>+502 31657456</p>
				</div>
			</div>
		</footer>
		<!-- Fin Footer -->
		
		<script>
			window.onload = function() { document.body.classList.remove('is-preload'); }
			window.ontouchmove = function() { return false; }
			window.onorientationchange = function() { document.body.scrollTop = 0; }
		</script>


		<!-- jQuery first, then Tether, then Bootstrap JS. -->
		<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
		<script
			src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
		<script
			src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</body>
</html>