<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>Nosotros</title>

<style type="text/css">
html, body {
	margin: 0;
	padding: 0;
}

body {
	background = #F5EFEE;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-attachment: fixed;
}
</style>

<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">

<link rel="stylesheet" href="css/style.css" />
</head>

<!--  BODY CON THYMELEAF -->
<body>

	<header th:replace="layout/layout :: header"></header>
<br></br>
<br></br>
<br></br>
<div>

	<h1 align="center">
		<span><font size="45">CodeSystem Security</font></span>
		<a class="navbar-brand" th:href="@{/index}"><img
				th:src="@{/images/segur.png}"
				alt="Academia Soluciones Informáticas" width="50" /></a>
	</h1>
</div>


	<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>